In [3]:
import pandas as pd

In [11]:
import csv

# file_path = 'data/rum_generated.csv'
df = pd.read_csv("../data/rum_generated.csv")
df.head(10)

,user_id,session_id,country,user_action,timestamp,readable_timestamp
0,9882,e2eb9504-13d9-4b85-9357-621647d1f3d6,Ghana,visit home,1759001430291,25-09-27 08:30:30 PM
1,1148,b0641a99-a0dd-46d6-b5cd-0071973e9934,Egypt,visit plans,1754855004291,25-08-10 08:43:24 PM
2,4926,5c46f3e8-9806-44fb-8854-5a7dfd64cf3d,Egypt,visit home,1748724497291,25-05-31 09:48:17 PM
3,3190,2c4a806d-7ec3-42f2-aee3-23e5658d5417,Egypt,visit home,1760032377291,25-10-09 06:52:57 PM
4,7498,f9008d79-8a7a-4118-aecf-14a64d348739,USA,visit contact,1760645214291,25-10-16 09:06:54 PM
5,9916,3b5cbde2-c499-432f-99ea-e17551965b9e,USA,visit home,1760637786291,25-10-16 07:03:06 PM
6,5109,9a7de588-9d33-419c-987d-e25e8503c240,Nigeria,visit plans,1756350982291,25-08-28 04:16:22 AM
7,4713,6bb53805-62c1-45d9-89f8-e62e4719f001,Ghana,visit trainers,1753994596291,25-07-31 09:43:16 PM
8,6746,229d9cf2-6458-45c6-8210-00e26e9852da,Ghana,join_plan,1758995551291,25-09-27 06:52:31 PM
9,5837,56145e8a-b942-4b87-92d8-652a9ef99a4e,South Africa,visit trainers,1755202487291,25-08-14 09:14:47 PM

In [ ]:
#Inspect df
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10000 non-null  int64
 1   session_id          10000 non-null  object
 2   country             10000 non-null  object
 3   user_action         10000 non-null  object
 4   timestamp           10000 non-null  int64
 5   readable_timestamp  10000 non-null  object
dtypes: int64(2), object(4)
memory usage: 468.9+ KB

(10000, 6)

In [15]:
#Checking for missing data or Duplicates

#missing data
print(df.isnull().sum())

#duplicates
print(f'Duplicates: {df.duplicated().sum()}')

user_id               0
session_id            0
country               0
user_action           0
timestamp             0
readable_timestamp    0
dtype: int64
Duplicates: 0

In [16]:
print(df['country'].value_counts())
print(df['user_action'].value_counts())

country
Egypt           1730
South Africa    1714
Nigeria         1686
UK              1676
Ghana           1658
USA             1536
Name: count, dtype: int64
user_action
visit home        3396
visit plans       2597
visit trainers    1666
visit contact     1348
join_plan          762
sent message       231
Name: count, dtype: int64

In [19]:
#converting datetime
df['readable_timestamp'] = pd.to_datetime(
    df['readable_timestamp'],
    format='%y-%m-%d %H:%M:%S',
    errors='coerce'
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10000 non-null  int64
 1   session_id          10000 non-null  object
 2   country             10000 non-null  object
 3   user_action         10000 non-null  object
 4   timestamp           10000 non-null  int64
 5   readable_timestamp  10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 468.9+ KB

In [ ]:
#Export cleaned data
cleaned_path = '../data/rum_generated_cleaned.csv'
df.to_csv(cleaned_path, index=False)
print('Cleaned data saved:', cleaned_path)